:root {
    --primary-color: #243e55; /* Define the primary color variable */
    --secondary-color: #4eb290;
  }
  
  html,
  body {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-style: normal;
  }
  
  .text-green {
    color: var(--secondary-color);
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    padding: 5px 15px;
    list-style: none;
    align-items: center;
  }
  .logo {
    color: gray;
  }
  
  .hero-section {
    min-height: 548px;
    width: 100%;
    background-image: url("./assets/header.png");
  
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .content-wraper {
    width: 645px;
    height: 460px;
    text-align: center;
  }
  
  .content-wraper h1 {
    font-size: 2.5rem;
    font-weight: 300;
    color: var(--primary-color);
  
    margin-bottom: 0;
  }
  .content-wraper .highlight {
    font-weight: 500;
    display: inline-block;
  }
  .content-wraper p {
    font-weight: 500;
    line-height: normal;
    font-size: medium;
    font-weight: 500;
    line-height: 1.7rem;
    font-style: italic;
    margin-bottom: 1.5rem;
    font-size: 14px;
  }
  
  button {
    padding: 12px 30px;
    border: 2px solid var(--secondary-color);
    border-radius: 30px 30px;
    font-size: 16px;
    text-transform: capitalize;
    color: var(--secondary-color);
    text-transform: uppercase;
  }
  
  .content-wraper button:hover {
    background-color: var(--secondary-color);
    color: whitesmoke;
  }
  
  .project-steps {
    min-height: 420px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 335px);
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
  }
  
  .card {
    min-height: 300px;
    width: 100%;
    background-color: var(--primary-color);
    border-radius: 15px;
    text-align: center;
  }
  .card:nth-child(2) {
    background-color: var(--secondary-color);
    color: whitesmoke;
  }
  
  .card-icon {
    width: 30px;
    height: 30px;
    overflow: hidden;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
  
  .card-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .card h2 {
    color: whitesmoke;
    padding: 15px 0;
    margin-top: 8px;
  }
  .card p {
    color: lightgray;
    line-height: 2rem;
    padding: 0 3.8rem;
    text-align: center;
    font-size: 0.8rem;
    margin-bottom: 0px;
  }
  .fa-arrow-right {
    margin: 24px 0;
  }
  
  .arrow-green {
    color: var(--secondary-color);
    font-size: 2rem;
    height: 20px;
  }
  .arrow-white {
    color: #ffff;
  
    font-size: 2rem;
  }
  
  .welcome {
    width: 100%;
    height: 450px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .welcome-wraper {
    width: 100%;
    height: 80%;
    margin: 10px 0px;
  
    color: whitesmoke;
    text-align: center;
    border-right: 16px solid var(--secondary-color);
    border-left: 16px solid var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .welcome-wraper h1 {
    font-size: 2.2rem;
    font-weight: 400;
  }
  .welcome-wraper p {
    max-width: 510px;
    font-size: 13px;
    margin: 0 auto;
    line-height: 30px;
    margin-bottom: 10px;
    color: #a5b6bd;
  }
  .welcome-wraper button {
    background-color: var(--secondary-color);
    color: whitesmoke;
    margin-top: 26px;
  }
  
  .benefit-section {
    padding: 20px 0;
  }
  
  .benefit-section h1 {
    padding: 20px 0;
    text-align: center;
    font-size: 3rem;
    color: var(--secondary-color);
  }
  
  
  .benefit-container {
    padding: 20px 0;
    display: grid;
    grid-template-columns: repeat(3, 335px);
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  
  .benefit-box {
    background-color: white;
    padding: 25px 0;
  }
  .benefit-box p {
    color: gray;
  }
  .benefit-box h2 {
    font-weight: 500;
    text-transform: capitalize;
    color: whitesmoke;
    font-size: 1.9rem;
    margin-bottom: 0;
    padding: 0;
   
  }
  .benefit-box h4{
    font-size: 1.2rem;
    padding-bottom: 0.9rem;
  }
  .benefit-box:nth-child(2) {
    background-color: var(--secondary-color);
  }
  
  
  .benefit-box .text-black {
    color: var(--primary-color);
  }
  
  .benefit-box .text-white {
    color: lightgray;
  }
  
  .benefit-box:nth-child(4),
  :nth-child(6) {
    background-color: var(--primary-color);
  }
  
  .coaching-section {
    width: 100%;
    min-height: 350px;
    background-image: linear-gradient(to bottom, #233441e5, #233441e5),
      url("./assets/coaching.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .coaching-title {
    font-size: 32px;
    margin: 0;
  }
  .btn-green {
    background-color: var(--secondary-color);
    color: whitesmoke;
    margin-right: 2px;
  }
  
  .btn-green {
    background-color: var(--secondary-color);
    color: whitesmoke;
    margin-right: 5px;
  }
  
  .btn-transparent {
    border: 2px solid whitesmoke;
    background-color: transparent;
    color: whitesmoke;
    margin-left: 5px;
  }
  
  .coaching-section .text-white {
    color: lightgray;
  }
  .coaching-section p {
    max-width: 540px;
    text-align: center;
    margin: 25px 0;
  
    font-size: 15px;
    line-height: 23px;
  }
  
  .skill-section {
    width: 100%;
    height: 550px;
    display: grid;
    grid-template-columns: repeat(3, 350px);
    justify-content: center;
    align-items: center;
    background-color: white;
    gap: 2rem;
  }
  
  .skill-content h1 {
    color: var(--secondary-color);
    max-width: 250px;
  }
  
  .skill-content h4 {
    color: rgb(59, 58, 58);
    font-weight: 400;
    font-size: 1.2rem;
  }
  
  .skill-content p {
    max-width: 250px;
    color: rgb(59, 58, 58);
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 1.8rem;
  }
  
  .skill-content .btn {
    margin: 1rem 0;
    background-color: var(--secondary-color);
    color: whitesmoke;
  }
  
  .tech-skill img {
    width: 100%;
    height: 100%;
  
    padding: 1rem 0;
  }
  .skill-result {
    text-align: center;
  }
  
  .skill-result h1 {
    color: var(--secondary-color);
    font-size: 2rem;
  }
  
  .skill-result h5 {
    color: black;
    font-weight: 500;
    font-size: 1rem;
  }
  
  .skill-result p {
    color: rgb(59, 58, 58);
    font-weight: 500;
    font-size: 0.9rem;
  }
  
  .course-info {
    width: 100%;
    min-height: 600px;
    margin: auto auto;
    background: linear-gradient(to bottom, rgba(36,54,67), rgba(36,54,67 , 0.8)),
    url("./assets/vector(1).jpg");
    background-repeat: no-repeat;
    background-color: #180255;
    background-position: center;
    background-size: cover;
    
  }
  
  .course-container{
    width: 85%;
    margin: 0 auto;
    padding: 3rem 0;
    
  }
  
  
  .course-details{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: 1rem;
  }
  .introductory{
    grid-column: span 3;
  
    
  }
  .introductory h3{
    
    color: whitesmoke;
    font-size: 1.5rem;
    max-width: 450px;
    font-weight: 300;
  }
  .introductory p {
    color: lightgrey ;
    font-size: 14px;
  }
  
  .course-stats {
    grid-column: span 4;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .course-content h1 {
    font-size: 3rem;
    max-width: 700px;
    margin-bottom: 0;
  }
  
  .course-content p {
    max-width: 520px;
    /* color: #a5b6bd; */
    color: rgba(179, 174, 174, 0.767);
    line-height: 1.5rem;
    font-size: 14px;
  }
  
  .course-stats h1 {
    font-size: 3.5rem;
    margin-bottom: 0;
  }
  
  .course-stats p {
    color: #B2BFC6;
  }
  
  #skills{
    /* background-color: #243e55; */
    background-image: url('../../src/assets/vector (1).jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  
  .team-section{
    width: 100%;
    min-height: 600px;
  }
  
  .team-container{
  
    width: 85%;
    padding: 0 1rem;
    margin: 0 auto;
    padding: 2rem 0;
  }
  .team-container h1{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 3rem;
  }
  .team-card-item{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
    justify-content: center;
    align-items: center;
   
  }
  
  .team-card{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
  }
  .team-img{
    width: 150px;
    height: 200px;
  
    object-position: center;
    margin: auto;
    background-color: #D7D7D7;
    padding: 15px 30px 0 30px;
    border-radius: 14px;
  }
  
  .team-card p{
    padding: 0 2.4rem;
    text-align: center;
    color: gray;
  }
  
  .team-card h3 , h4{
    margin-bottom: 0;
  }
  
  .social-icons i {
    margin: 0 5px;
    margin-top: 5px;
  }
  
  
  .newsletter-section{
    width: 100%;
    min-height: 350px;
    background-color: var(--secondary-color);
    color: whitesmoke;
    display: flex;
    align-items: center;
   
  }
  .newsletter-container{
    width: 85%;
    height: 80%;
  
    display: flex;
    gap: 1rem;
   margin: 0 auto;
  }
  
  .newsletter-info{
    flex-basis: 60%;
  
  }
  .newsletter-info h1{
    font-size: 1.8rem;
    font-weight: 400;
  }
  
  
  .newsletter-info p{
    font-size: 1rem;
    font-weight: 400;
    color: whitesmoke;
  
  }
  .support-list {
    flex-basis: 40%;
  }
  .support-list ul{
    height: 100%;
    
  
  
  }
  
  .support-list{
    margin: auto 0;
  }
  
  .support-list ul li{
  
    display: flex;
    list-style: none;
    align-items: center;
    gap: 16px;
    font-size: 14px;
    padding: 6px 0;
  
  }
  
  form .email{
    border: none;
    outline: none;
    padding: 13px 24px;
    border-radius: 24px;
    width: 220px;
  }
  
  .submit-btn{
    padding: 12px 30px;
    border: 2px solid var(--secondary-color);
    border-radius: 30px 30px;
    font-size: 16px;
    text-transform: capitalize;
    background-color: var(--primary-color);
    color: whitesmoke;
    text-transform: uppercase;
    margin-left: 1rem;
  }
  
  
  
  
  footer{
    background-color: #323232;
    padding: 30px 0;
    color: whitesmoke;
    text-align: center;
    font-size: 13px;
  }